<app-navbar></app-navbar>
<br>
<h3 style="text-align:center">Centros!</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Dirección</th>
            <th>Departamento</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of data">
            <td>{{ c.idCentro }}</td>
            <td>{{ c.nombre }}</td>
            <td>{{ c.telefono }}</td>
            <td>{{ c.correo }}</td>
            <td>{{ c.direccion }}</td>
            <td>{{ c.tc_departamento.nomDepto }}</td>
        </tr>
    </tbody>
</table>
<app-footer></app-footer>